#mountain-1 {
  position: absolute;
  bottom: 0;
  z-index: 6;
}

#mountain-1 .side-1,
#mountain-1 .side-2,
#mountain-1 .side-3 {
  background-color: #478836;
  position: absolute;
}

#mountain-1 .side-1 {
  height: 75rem;
  width: 10rem;
  bottom: -4rem;
  left: 64.5rem;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-radius: 5rem 0 0 0;
}

#mountain-1 .side-2 {
  height: 65rem;
  width: 10rem;
  bottom: 4rem;
  left: 107.5rem;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  border-radius: 0 5rem 0 0;
}

#mountain-1 .side-3 {
  -webkit-clip-path: polygon(58% 0, 100% 82%, 100% 100%, 0 100%, 47% 0);
          clip-path: polygon(58% 0, 100% 82%, 100% 100%, 0 100%, 47% 0);
  height: 50rem;
  width: 95rem;
  left: 40rem;
  bottom: 0;
}

#mountain-2 {
  position: absolute;
  bottom: 0;
  z-index: 7;
}

#mountain-2 .side-1,
#mountain-2 .side-2,
#mountain-2 .side-3 {
  position: absolute;
  background: #B3C94A;
}

#mountain-2 .side-1 {
  left: 65rem;
}

#mountain-2 .side-2 {
  left: 83.5rem;
}

#mountain-2 .side-3 {
  left: 60rem;
}

#mountain-3 {
  position: absolute;
  bottom: 0;
  z-index: 8;
}

#mountain-3 .side-1,
#mountain-3 .side-2,
#mountain-3 .side-3 {
  position: absolute;
  background: #26581B;
}

#mountain-3 .side-1 {
  left: 42rem;
}

#mountain-3 .side-2 {
  left: 60.5rem;
}

#mountain-3 .side-3 {
  left: 30rem;
}

#mountain-2 .side-1,
#mountain-3 .side-1 {
  height: 35rem;
  width: 10rem;
  bottom: 9rem;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-radius: 5rem 0 0 0;
}

#mountain-2 .side-2,
#mountain-3 .side-2 {
  height: 35rem;
  width: 10rem;
  bottom: 9rem;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  border-radius: 0 5rem 0 0;
}

#mountain-2 .side-3,
#mountain-3 .side-3 {
  -webkit-clip-path: polygon(58% 0, 100% 82%, 100% 100%, 0 100%, 47% 0);
          clip-path: polygon(58% 0, 100% 82%, 100% 100%, 0 100%, 47% 0);
  height: 35rem;
  width: 45rem;
  bottom: 0;
}

/* ----- diamonds
---------------------------------------------------- */
.diamond {
  -webkit-clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
          clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
  background-color: #88BB76;
  z-index: 1000;
  position: absolute;
}

.diamond-1 {
  right: 47rem;
  top: 20rem;
  width: 3rem;
  height: 4rem;
}

.diamond-2 {
  right: 45rem;
  top: 30rem;
  width: 2rem;
  height: 2rem;
}

.diamond-3 {
  right: 40rem;
  top: 17rem;
  width: 2rem;
  height: 2rem;
}

.diamond-4 {
  right: 55rem;
  top: 18rem;
  width: 2rem;
  height: 2rem;
}

.diamond-5 {
  right: 58rem;
  top: 25rem;
  width: 2rem;
  height: 3rem;
}

.diamond-6 {
  right: 50rem;
  top: 13rem;
  width: 2rem;
  height: 2rem;
}

.diamond-7 {
  right: 17rem;
  top: 43rem;
  width: 2rem;
  height: 3rem;
}

.diamond-8 {
  right: 38rem;
  top: 25rem;
  width: 2rem;
  height: 2rem;
}

/* ----------------------------- */
.cloud .circle-1,
.cloud .circle-2,
.cloud .circle-3 {
  background-color: #D9E2E9;
  border-radius: 50%;
  float: left;
  position: relative;
}

.cloud .circle-1 {
  left: 2rem;
  width: 5rem;
  height: 5rem;
}

.cloud .circle-2 {
  top: -1rem;
  width: 4rem;
  height: 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

.cloud .circle-2 .eyes-black {
  position: relative;
  left: 1rem;
  top: 2rem;
  background-color: black;
  width: 0.6rem;
  height: 1.6rem;
  border-radius: 0.3rem;
  float: left;
  margin: 0 0.2rem;
}

.cloud .circle-2 .eyes-black .eyes-white {
  background-color: white;
  margin: 0.3rem auto 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.cloud .circle-3 {
  top: 0.5rem;
  left: -3.5rem;
  width: 4rem;
  height: 4rem;
}

#cloud-1,
#cloud-2,
#cloud-3,
#cloud-4 {
  position: absolute;
}

#cloud-1 {
  top: 7rem;
  left: 6rem;
}

#cloud-2 {
  top: 4rem;
  right: 20rem;
}

#cloud-3 {
  top: 12rem;
  left: 45vw;
}

#cloud-4 {
  top: 12rem;
  right: 3rem;
}

#cloud-1,
#cloud-4 {
  -webkit-transform: rotateZ(5deg);
          transform: rotateZ(5deg);
}

#cloud-2,
#cloud-3 {
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
}

#cloud-3 .circle-2 .eyes-black,
#cloud-4 .circle-2 .eyes-black {
  display: none;
}

/* ----------------------------- */
#big-cloud-1 {
  position: absolute;
  top: 0;
  z-index: 1;
}

#big-cloud-1 .big-cloud-1 {
  background: #D9E2E9;
  position: absolute;
  top: 20rem;
  left: 10rem;
  width: 24rem;
  height: 20rem;
  border-radius: 50%;
}

#big-cloud-1 .big-cloud-2 {
  background: #D9E2E9;
  position: absolute;
  top: 25rem;
  left: 28rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

#big-cloud-1 .big-cloud-3 {
  background: #D9E2E9;
  position: absolute;
  top: 30rem;
  left: 30rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

#big-cloud-1 .big-cloud-4 {
  background: #D9E2E9;
  position: absolute;
  top: 25rem;
  left: 42rem;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
}

#big-cloud-2 {
  position: absolute;
  top: 22%;
  right: 0;
  z-index: 1;
}

#big-cloud-2 .big-cloud-1,
#big-cloud-2 .big-cloud-2,
#big-cloud-2 .big-cloud-3,
#big-cloud-2 .big-cloud-4 {
  background: #D9E2E9;
  position: absolute;
  border-radius: 50%;
}

#big-cloud-2 .big-cloud-1,
#big-cloud-2 .big-cloud-2 {
  width: 10rem;
  height: 10rem;
}

#big-cloud-2 .big-cloud-1 {
  top: 28rem;
  right: 0rem;
}

#big-cloud-2 .big-cloud-2 {
  top: 20rem;
  right: 5rem;
}

#big-cloud-2 .big-cloud-3 {
  top: 10rem;
  right: 10rem;
  width: 20rem;
  height: 20rem;
}

#big-cloud-2 .big-cloud-4 {
  top: 5vh;
  right: 20rem;
  width: 15rem;
  height: 15rem;
}

.tower-stripe {
  position: absolute;
  bottom: 0;
  border: 0.2rem solid black;
  z-index: 1;
}

#tower-stripe-1 {
  width: 20rem;
  height: 81%;
  left: 0rem;
  bottom: 0;
  background: repeating-linear-gradient(-30deg, #C6DC93 0rem, #C6DC93 3rem, #6C9A1D 3rem, #6C9A1D 6rem);
  border-radius: 0 20rem 0 0;
  z-index: 2;
}

#tower-stripe-2 {
  width: 5rem;
  height: 82%;
  left: 78rem;
  background: repeating-linear-gradient(-40deg, #C6DC93 0rem, #C6DC93 0.5rem, #6C9A1D 0.5rem, #6C9A1D 1rem);
  border-radius: 20rem 20rem 0 0;
  z-index: 2;
}

#tower-stripe-3 {
  width: 12rem;
  height: 87%;
  left: 68rem;
  background: repeating-linear-gradient(-40deg, #C6DC93 0rem, #C6DC93 2rem, #6C9A1D 2rem, #6C9A1D 4rem);
  border-radius: 20rem 20rem 0 0;
  z-index: 3;
}

#tower-stripe-4 {
  width: 8rem;
  height: 75%;
  left: 66.5rem;
  background: repeating-linear-gradient(40deg, #C6DC93 0rem, #C6DC93 1.5rem, #6C9A1D 1.5rem, #6C9A1D 3rem);
  border-radius: 20rem 20rem 0 0;
  z-index: 4;
}

#tower-stripe-5 {
  width: 9rem;
  height: 30rem;
  left: 0rem;
  background: repeating-linear-gradient(30deg, #C6DC93 0rem, #C6DC93 2rem, #6C9A1D 2rem, #6C9A1D 4rem);
  border-radius: 0 15rem 0 0;
  z-index: 5;
}

.tower-dash {
  border: 0.2rem solid #0e9609;
  position: absolute;
  bottom: 0;
  background: linear-gradient(45deg, white, green);
}

#tower-dash-1 {
  width: 18rem;
  height: 50%;
  left: 19rem;
  border-radius: 10rem 10rem 0 0;
  z-index: 10;
}

#tower-dash-2 {
  width: 13rem;
  height: 29vh;
  left: 33rem;
  border-radius: 10rem 10rem 0 0;
  z-index: 10;
}

#tower-dash-3 {
  width: 8rem;
  height: 17vh;
  left: 27rem;
  border-radius: 10rem 10rem 0 0;
  z-index: 11;
}

#tower-dash-4 {
  width: 9rem;
  height: 50vh;
  right: 35rem;
  border-radius: 10rem 10rem 0 0;
  z-index: 9;
}

#tower-dash-5 {
  width: 15rem;
  height: 60vh;
  right: 25rem;
  border-radius: 10rem 10rem 0 0;
  z-index: 8;
  background: -webkit-gradient(linear, left top, left bottom, from(#C8E123), to(#519113));
  background: linear-gradient(#C8E123, #519113);
}

.front-bush-back {
  /* ----- vertiacl position
    ------------------------------------------------*/
  /* ----- width
    ------------------------------------------------*/
  /* ----- height
    ------------------------------------------------*/
  /* ----- horzontal position
    ------------------------------------------------*/
}

.front-bush-back .bush-1,
.front-bush-back .bush-2,
.front-bush-back .bush-3,
.front-bush-back .bush-4,
.front-bush-back .bush-5,
.front-bush-back .bush-6,
.front-bush-back .bush-7,
.front-bush-back .bush-8,
.front-bush-back .bush-9,
.front-bush-back .bush-10,
.front-bush-back .bush-11,
.front-bush-back .bush-12,
.front-bush-back .bush-13,
.front-bush-back .bush-14,
.front-bush-back .bush-15 {
  position: absolute;
  background: #36632E;
  border-radius: 50% 50% 0 0;
  z-index: 9;
}

.front-bush-back .bush-3,
.front-bush-back .bush-5,
.front-bush-back .bush-6,
.front-bush-back .bush-7,
.front-bush-back .bush-9,
.front-bush-back .bush-10,
.front-bush-back .bush-12,
.front-bush-back .bush-13,
.front-bush-back .bush-14,
.front-bush-back .bush-15 {
  top: 70%;
}

.front-bush-back .bush-1,
.front-bush-back .bush-2,
.front-bush-back .bush-4,
.front-bush-back .bush-8,
.front-bush-back .bush-11 {
  top: 75%;
}

.front-bush-back .bush-1,
.front-bush-back .bush-2 {
  width: 10rem;
}

.front-bush-back .bush-3,
.front-bush-back .bush-4,
.front-bush-back .bush-5,
.front-bush-back .bush-6,
.front-bush-back .bush-7,
.front-bush-back .bush-8,
.front-bush-back .bush-9,
.front-bush-back .bush-10,
.front-bush-back .bush-11,
.front-bush-back .bush-12,
.front-bush-back .bush-14,
.front-bush-back .bush-15 {
  width: 15rem;
}

.front-bush-back .bush-13 {
  width: 20rem;
}

.front-bush-back .bush-1 {
  height: 10rem;
}

.front-bush-back .bush-2,
.front-bush-back .bush-4,
.front-bush-back .bush-8,
.front-bush-back .bush-11 {
  height: 15rem;
}

.front-bush-back .bush-3,
.front-bush-back .bush-5,
.front-bush-back .bush-6,
.front-bush-back .bush-7,
.front-bush-back .bush-9,
.front-bush-back .bush-10,
.front-bush-back .bush-12,
.front-bush-back .bush-13,
.front-bush-back .bush-14,
.front-bush-back .bush-15 {
  height: 20rem;
}

.front-bush-back .bush-1 {
  left: calc(50% - 70rem);
}

.front-bush-back .bush-2 {
  left: calc(50% - 62rem);
}

.front-bush-back .bush-3 {
  left: calc(50% - 55rem);
}

.front-bush-back .bush-4 {
  left: calc(50% - 45rem);
}

.front-bush-back .bush-5 {
  left: calc(50% - 35rem);
}

.front-bush-back .bush-6 {
  left: calc(50% - 30rem);
}

.front-bush-back .bush-7 {
  left: 52rem;
  left: calc(50% - 18rem);
}

.front-bush-back .bush-8 {
  left: calc(50% - 12rem);
}

.front-bush-back .bush-9 {
  left: calc(50% - 2rem);
}

.front-bush-back .bush-10 {
  left: calc(50% + 5rem);
}

.front-bush-back .bush-11 {
  left: calc(50% + 15rem);
}

.front-bush-back .bush-12 {
  left: calc(50% + 25rem);
}

.front-bush-back .bush-13 {
  left: calc(50% + 35rem);
}

.front-bush-back .bush-14 {
  left: calc(50% + 45rem);
}

.front-bush-back .bush-15 {
  right: calc(50% - 70rem);
  border-radius: 50% 40% 0 50%;
}

.front-bush-front {
  /* ----- width
    ------------------------------------------------*/
  /* ----- vertiacl position
    ------------------------------------------------*/
  /* ----- horizontal position
    ------------------------------------------------*/
}

.front-bush-front .bush-1,
.front-bush-front .bush-2,
.front-bush-front .bush-3,
.front-bush-front .bush-4,
.front-bush-front .bush-5,
.front-bush-front .bush-6,
.front-bush-front .bush-7,
.front-bush-front .bush-8,
.front-bush-front .bush-9,
.front-bush-front .bush-10,
.front-bush-front .bush-11,
.front-bush-front .bush-12,
.front-bush-front .bush-13,
.front-bush-front .bush-14,
.front-bush-front .bush-15 {
  position: absolute;
  height: 15rem;
  background: #477E3A;
  border-radius: 50% 50% 0 0;
  z-index: 9;
}

.front-bush-front .bush-1,
.front-bush-front .bush-2 {
  width: 10rem;
}

.front-bush-front .bush-3,
.front-bush-front .bush-7,
.front-bush-front .bush-9,
.front-bush-front .bush-12 {
  width: 13rem;
}

.front-bush-front .bush-13 {
  width: 20rem;
}

.front-bush-front .bush-6,
.front-bush-front .bush-10,
.front-bush-front .bush-15 {
  width: 14rem;
}

.front-bush-front .bush-4,
.front-bush-front .bush-5,
.front-bush-front .bush-8,
.front-bush-front .bush-11,
.front-bush-front .bush-14 {
  width: 15rem;
}

.front-bush-front .bush-1,
.front-bush-front .bush-2,
.front-bush-front .bush-4,
.front-bush-front .bush-8,
.front-bush-front .bush-11 {
  top: calc(75% + 1rem);
}

.front-bush-front .bush-3,
.front-bush-front .bush-5,
.front-bush-front .bush-6,
.front-bush-front .bush-7,
.front-bush-front .bush-9,
.front-bush-front .bush-10,
.front-bush-front .bush-12,
.front-bush-front .bush-13,
.front-bush-front .bush-14,
.front-bush-front .bush-15 {
  top: calc(70% + 1rem);
}

.front-bush-front .bush-1 {
  left: calc(50% - 70rem);
}

.front-bush-front .bush-2 {
  left: calc(50% - 62rem);
}

.front-bush-front .bush-3 {
  left: calc(50% - 54rem);
}

.front-bush-front .bush-4 {
  left: calc(50% - 45rem);
}

.front-bush-front .bush-5 {
  left: calc(50% - 35rem);
}

.front-bush-front .bush-6 {
  left: calc(50% - 30rem);
}

.front-bush-front .bush-7 {
  left: calc(50% - 17rem);
}

.front-bush-front .bush-8 {
  left: calc(50% - 12rem);
}

.front-bush-front .bush-9 {
  left: calc(50% - 1rem);
}

.front-bush-front .bush-10 {
  left: calc(50% + 5rem);
}

.front-bush-front .bush-11 {
  left: calc(50% + 15rem);
}

.front-bush-front .bush-12 {
  left: calc(50% + 26rem);
}

.front-bush-front .bush-13 {
  left: calc(50% + 35rem);
}

.front-bush-front .bush-14 {
  left: calc(50% + 45rem);
}

.front-bush-front .bush-15 {
  right: calc(50% - 70rem);
}

#ground {
  width: 100%;
  height: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(lightgreen), to(brown));
  background: linear-gradient(lightgreen, brown);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

/* -----
------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 140rem;
  height: 70rem;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#9EC2F4), to(#C0DC8F));
  background: linear-gradient(#9EC2F4, #C0DC8F);
  background-size: cover;
  margin: calc(50wv - 75rem);
}

/*--------------------*/
/*# sourceMappingURL=main.css.map */